@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");

.logo{
    width:15%;
}
.img{
    height: 400px;
}
a{
    text-decoration: none;
}
.back{
    height: 550px;
    width: 340px;
}
#banner_image,#poster_image{
    display: none;
}